.labelHeaderText{
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Thin";
}

.labelDefaultText{
    -fx-font-size: 12px;
    -fx-font-family: "Roboto Thin";
}

.futureHbox{
    -fx-spacing: 10;
}

.buttonRight{
    -fx-background-image: url("Images/wind.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}